# =========================
# Application configuration
# =========================

ACCESS_TOKEN_SECRET=
MONGO_URI=
FRONTEND_URL=
SESSION_SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FULLNAME=Administrator
ADMIN_BIRTHDATE=1990-01-01


# =========================
# MoMo Payment Gateway
# =========================

MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz

MOMO_ENDPOINT=https://test-payment.momo.vn

# Frontend redirect sau thanh toán
MOMO_REDIRECT_URL=http://localhost:3000/payment/success

# Backend webhook/IPN URL
# localhost KHÔNG dùng được
# dùng ngrok hoặc domain public
MOMO_IPN_URL=https://your-ngrok-url.ngrok-free.app/api/payments/momo/ipn